div.photo-block {
    text-align:  center;
    border: 1px solid  gray;
    border-radius: 5% }

.photo-title {
    font-size: 140%;
    font-family: Arial;
    text-decoration: underline }

.photo-score {
    font-family: 130%;
    font-family: monospace }

img.photo-image {
    width:  90%;
    height:  auto }

.gallery-container {
    display:  grid;
    grid-template-columns: 33% 33% 33%}

.input-group  label {
    display:  inline-block;
    width:  200px;
    text-align:  right }

.input-group {
    margin-bottom:  0.5em }

div.title-block {
    text-align:  center;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #EEEEEE}

#title {
    font-size:  300%;
    text-decoration:  none;
    color:  #d42d2d;
    font-family:  sans-serif;
    margin-bottom:  0 }

#subtitle {
    font-size:  120%;
    text-decoration:  italic;
    color:  #555555;
    font-family:  monospace
}    

div.navigation > a {
    color:  white;
    font-size:  120%;
    background-color:  #555555;
    font-family:  monospace;
    text-decoration:  none;
    display:  inline-block;
    min-width:  150px
}    